<div class="row table-bordered justify-content-center">
  <div *ngIf="newPicture.media_type == 'image'">
    <div *ngIf="checkboxFlag">
      <img src="{{newPicture.hdurl}}" class="figure-img img-fluid rounded" alt="{{newPicture.media_type}}">
    </div>
    <div *ngIf="!checkboxFlag">
      <img src="{{newPicture.url}}" class="figure-img img-fluid rounded" alt="{{newPicture.media_type}}">
    </div>
  </div>
  <div *ngIf="newPicture.media_type == 'video'">
    <iframe src="{{url}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div style="background-color: rgba(255,140,103,0.18)" class="row table-bordered">
  <figure class="figure">
    <figcaption class="figure-caption">
      <p><b>Titulo:</b> {{newPicture.title}}</p>
      <p><b>Fecha:</b> {{newPicture.date}}</p>
      <p><b>Descripcion:</b> {{newPicture.explanation}}</p>
      <p><b>Version del servicio:</b> {{newPicture.service_version}}</p>
      <p><b>Copyright:</b> {{newPicture.copyright}}</p>
    </figcaption>
  </figure>
</div>
